<html>
<head>
	{{ partial.head | safe }}
	<link rel="stylesheet" href="/css/lesson.css">
</head>
<body>
	{{ partial.nav | safe }}

	<div id="lesson" class="carousel slide">
		<ol class="carousel-indicators">
			{% for slide in lesson %}
				<li data-target="#lesson" data-slide-to="{{loop.index0}}"
					{% if loop.index0 < 1 %}class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for slide in lesson %}
			<div class="carousel-item{% if loop.index0 < 1 %} active{% endif %}"
				 data-type="{{ slide.type | default('learn') }}">
				{% if slide.instruction %}
				<h3 class="instruction">{{ slide.instruction | safe }}</h3>
				{% endif %}
				{% for language in ["english", "swahili"] %}
					<div class="language-box {{ language }} {% if slide.conversation %}conversation{% endif %}">
						{% for word in slide[language].split("__") %}
							{% if loop.index0 % 2 == 0 %}
								{% if word == "." or word == "?" or word == "!" %}
									<span style="margin-left:-20px;">{{ word | safe }}</span>
								{% elif word.length > 0 and word.indexOf('~') > 0 %}
									{% for w in word.split(' ') %}
										{% if w.indexOf('~') > 0 %}
											<span data-toggle="tooltip" data-placement="top" title="{{ w.substring(w.indexOf('~') + 1) | replace('_', ' ') }}">{{ w.substring(0, w.indexOf('~')) | safe }}</span>
										{% else %}
											<span>{{ w | safe }}</span>
										{% endif %}
									{% endfor %}
								{% else %}
									<span>{{ word | safe }}</span>
								{% endif %}
							{% else %}
								{% if word.indexOf('=') >= 0 %}
									<input type="text"
										   name="{{word.substring(0, word.indexOf('='))}}"
										   data-expected="{{word.substring(word.lastIndexOf('=') + 1)}}"
										   data-exact="{{ word.indexOf('==') >= 0 }}"
										   size="3">
								{% else %}
									<input type="text" name="{{word}}" size="3">
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}

				<div class="action">
				{% if slide.type == "question" or slide.type == "conversation" %}
					<button class="grade">Check answer</button>
					{% if type != 'quiz' %}
						<button class="solution">Solution</button>
					{% endif %}
				{% endif %}
				{% if loop.index == lesson.length %}
					<button onclick="window.location.href = '/unit/{{unit}}'">Finish</button>
				{% else %}
					<button class="next">Next</button>
				{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#lesson" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#lesson" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	{{ partial.scripts | safe }}
	<script type="text/javascript" src="/js/lesson.js"></script>
</body>
</html>
