<html>
<head>
	<title>{{title}}</title>
	{{ partial.head | safe }}
	<link rel="stylesheet" href="/css/lesson.css">
</head>
<body>
	{{ partial.nav | safe }}
	{% if lesson %}
	<div id="lesson" class="carousel slide" data-id="{{id}}">
		<ol class="carousel-indicators">
			{% for slide in lesson %}
				<li data-target="#lesson" data-slide-to="{{loop.index0}}"
					{% if loop.index0 < 1 %}class="active"{% endif %}></li>
			{% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for slide in lesson %}
			<div class="carousel-item{% if loop.index0 < 1 %} active{% endif %}"
				 data-type="{{ slide.type | default('learn') }}">
				{% if slide.instruction %}
				<h3 class="instruction">{{ slide.instruction | safe }}</h3>
				{% endif %}
				{% if slide.conversation or slide.split %}
				<div class="row conversation">
					<div class="col-md-5 offset-md-1 col-sm-10 offset-sm-1">
				{% endif %}

				{% for language in ["english", "swahili"] %}
				{% if slide[language] and (slide[language] | string).length > 0 %}
					<div class="language-box {{ language }}">
						{% for word in slide[language].split("__") %}
							{% if loop.index0 % 2 == 0 %}
								{% if word == "." or word == "?" or word == "!" %}
									<span style="margin-left:-20px;">{{ word | safe }}</span>
								{% elif word.length > 0 and word.indexOf('~') > 0 %}
									{% for w in word.split(' ') %}
										{% if (w | string).length > 0 and (w | string).indexOf('~') > 0 %}
											<span data-toggle="tooltip" data-placement="top" title="{{ w.substring(w.indexOf('~') + 1) | replace('_', ' ') }}">{{ w.substring(0, w.indexOf('~')) | safe }}</span>
										{% else %}
											{% if w == "." or w == "," or w == "?" or w == "!" %}
												<span style="margin-left:-20px;">{{ w | safe }}</span>
											{% else %}
												<span>{{ w | safe }}</span>
											{% endif %}
										{% endif %}
									{% endfor %}
								{% elif word.length > 0 and word.substring(0, 1) == '<' %}
									<span>{{ word | safe }}</span>
								{% elif word.length > 0 and word.substring(0, 1) != ' ' %}
									<span style="margin-left:-20px;">{{ word | safe }}</span>
								{% else %}
									<span>{{ word | safe }}</span>
								{% endif %}
							{% else %}
								{% if word.indexOf('=') >= 0 %}
									<input type="text"
										   name="{{word.substring(0, word.indexOf('='))}}"
										   data-expected="{{word.substring(word.lastIndexOf('=') + 1)}}"
										   data-exact="{{ word.indexOf('==') >= 0 }}"
										   size="3"
											 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
								{% else %}
									<input type="text" name="{{word}}" size="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
								{% endif %}
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
				{% if loop.index0 == 0 and (slide.conversation or slide.split) %}
					</div>
					<div class="col-md-5 offset-md-0 col-sm-10 offset-sm-1">
				{% endif %}

				{% endfor %}

				{% if slide.conversation or slide.split %}
					</div>
				</div>
				{% endif %}

				<div class="action">
				{% if slide.type == "question" %}
					<button class="grade">Check answer</button>
					{% if type != 'quiz' %}
						<button class="solution">Solution</button>
					{% endif %}
				{% endif %}
				{% if loop.index == lesson.length %}
					<br><br><br>
					<button class="start-over">
						Start over
					</button>
					{% if data.unit[unit].lesson.indexOf(id) + 1 < data.unit[unit].lesson.length %}
						<a href="/lesson/{{ data.unit[unit].lesson[data.unit[unit].lesson.indexOf(id) + 1] }}">
							Next lesson
						</a>
					{% elif build.unit.indexOf(unit) + 1 < build.unit.length %}
						<a href="/unit/{{ build.unit[build.unit.indexOf(unit) + 1] }}">
							Next unit
						</a>
					{% else %}
						<a href="https://github.com/kitafi/kitafi">
							Start contributing
						</a>
					{% endif %}
					<a href="/unit/{{unit}}">Back to unit</a>
				{% else %}
					<button class="next">Next</button>
				{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		<a class="carousel-control-prev" href="#lesson" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#lesson" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	{% endif %}

	{{ partial.scripts | safe }}
	<script type="text/javascript" src="/js/lesson.js"></script>
</body>
</html>
