<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgba(0, 0, 0, 0.3)">
    <a class="navbar-brand" href="/">Learn Swahili</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if type == 'home' %} active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="unitsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Units
                </a>
                <div class="dropdown-menu">
                    {% for unitId in build.unit %}
                        {% if type == 'unit' and unitId == id %}
                        <a class="dropdown-item disabled">
                            {{ title }}
                        </a>
                        {% else %}
                        <a class="dropdown-item" href="/unit/{{unitId}}">
                            {{ data.unit[unitId].title }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            {% if type == 'unit' %}
            <li class="nav-item active">
                <a class="nav-link">{{title}}</a>
            </li>
            {% elif type == 'lesson' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="unitDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ data.unit[unit].title }}
                </a>
                <div class="dropdown-menu">
                    <a href="/unit/{{unit}}" class="dropdown-item">
                        All lessons
                    </a>
                    <div class="dropdown-divider"></div>
                    {% for lessonId in data.unit[unit].lesson %}
                        {% if id == lessonId %}
                        <a class="dropdown-item disabled">
                            {{ title }}
                        </a>
                        {% else %}
                        <a class="dropdown-item" href="/lesson/{{lessonId}}">
                            {{ data.lesson[lessonId].title }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">{{title}}</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-2">
            <li class="nav-item active">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
